*{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.header{
    background-color: #e2e626;
}
.ofertas{
    background-color: #2860a1;
    color:#ffffff;
}
.sabores{
    background-color: #a1285a;
    color:#ffffff;
}
.adornos{
    background-color: #54a128;
    color:#ffffff;
}
.pedidos{
    background-color: #b4b4b4;
}
.direcciones{
    background-color: #000000;
    color:#ffffff;
}
.item{
    width:min-content;
}
.top{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.container2{
    display: flex;
    flex-direction: column;  
}